<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
    <title>Session</title>
</head>
<script>
    function Copy() {
  // Get the text field
  var copyText = '{{id}}';
  navigator.clipboard.writeText(copyText);

  // Alert the copied text
  alert("Copied the text: " + copyText);
}

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
    
</script>
<body style="background-color: #e0e0e0; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <nav>
        <div class="nav-wrapper" style="background:black;">
            <a href="#" class="brand-logo center">Polling App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'admin:login' %}">Admin</a></li>
            
            </ul>
        </div>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
    </script>

    <div class="container">
        <div class="row">
            <div>
                <ul id="slide-out" class="sidenav">
                    <li><p class="subheader center">Options</p></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="{% url 'index' %}">Home</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="{% url 'admin:login' %}">Admin</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="{% url 'logout' %}">Logout</a></li>
                    <li><div class="divider"></div></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger col l1 m1 s1" style="margin-top: 20px;"><i class="material-icons">menu</i>Options</a>
                </div>
            <h5 class="col offset-l4 offset-s1" style="color: red;">Session Id: {{id}} 
                <button class="waves-effect waves-light btn-floating" onclick="Copy()">
                    <i class="material-icons">content_copy</i>
                </button>
            </h5>
        </div>
        <form name="createform" action="{% url 'editsession' id %}" method="post">
            {% csrf_token %}
        <div class="row center-align">
            <a class="waves-effect waves-light btn modal-trigger center" href="#modal1"><i class="material-icons right">add</i>Add Question</a>
        </div>
        <div id="modal1" class="modal">
            
            <div class="modal-content">
                    <h4 class="center-align" style="color:red;">Create Question</h4>
                        <br>
                        <h5> Question: </h5>
                        <input type="text" name="entered_question" id="question" placeholder="Enter The Question"> 
                        {% for i in '1234' %}
                        Choice {{i}}:
                        <input type="text" name="choice{{i}}" id={{i}} placeholder="Enter Choice" >
                        <br>  
                        {% endfor %}
                        
                
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="button" value="Submit" onclick="submitForm()" >Add
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <script>
            function submitForm() {
                var frm = document.getElementsByName('createform')[0];
                
                frm.submit(); // Submit the form
                frm.reset();
                event.preventDefault()  
            }
        </script>
        </form>
        
        
          
        {% for ques in question %}
        {% if id == ques.session_id %}
          
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header"><h4>{{ques.content}} 
                    <a href="{% url 'deleteeditsession' ques.id %}" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                    <a href="#{{ques.id}}" class="waves-effect waves-light btn-floating btn-small modal-trigger center blue"><i class="material-icons">edit</i></a>
                </h4>
                <div id="{{ques.id}}" class="modal">
                    <form action="{% url 'editeditsession' ques.id %}" method="post">
                        {% csrf_token %}
                    <div class="modal-content">
                            <h4 class="center-align" style="color:red;">Edit Question</h4>
                                <br>
                                <h5> Question: </h5>
                                <input type="text" name="entered_question" id="question" value="{{ques.content}}"> 
                                {% for choice in ques.choice_set.all %}
                                Choice {{forloop.counter}}:
                                <input type="text" name="choice{{forloop.counter}}" id={{forloop.counter}} value="{{choice.content}}" >
                                <br>  
                                {% endfor %}
                                
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    </form>
        
                </div>
                </li>
                {% for choice in ques.choice_set.all %}
                <li class="collection-item">{{choice.content}}</li>
                {% endfor %}
                
            </ul>  
        </div>
        {% endif %}
        {% endfor %}
        
        
    </div>
    <button id="mybtn" onclick="topFunction()" class="btn-floating btn-large" style="position: fixed; top: 90%; left:80%; color: red;">
        <i class="material-icons">arrow_upward</i>
        </button>
    
        <script>
            // Get the button
            let mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>
    
</body>
</html>