<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <title>Polling App</title>
    </head>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
      
    </script>

    <body style="background-color: #e0e0e0; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <header>
            <nav>
                <div class="nav-wrapper" style="background:black;">
                    
        
                    <a href="#" class="brand-logo center">Polling App</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
                    <li><a href="{% url 'admin:login' %}">Admin</a></li>
                    <li><a href="{% url 'index' %}">Questions</a></li>
                    
                    </ul>
                </div>
            </nav>
            
        </header>

    

        <div class="container">
            
            <h3 class="center-align">
                Login
            </h3>
            
            <div class="row">
                <div class="col s12 m8 l6 offset-l3 offset-m2 center-align">
                    <div class="card blue-grey darken-3 z-depth-5">
                        <div class="card-content white-text">
                            <div class="row">
                                <ul id="slide-out" class="sidenav">
                                    <li><p class="subheader">Options</p></li>
                                    <li><div class="divider"></div></li>
                                    <li><a class="waves-effect" href="{% url 'admin:login' %}">Admin</a></li>
                                    <li><div class="divider"></div></li>
                                    <li><a class="waves-effect" href="{% url 'index' %}">Questions</a></li>
                                    <li><div class="divider"></div></li>
                                </ul>
                                <a href="#" data-target="slide-out" class="sidenav-trigger col l2 m2 s2"><i class="material-icons">menu</i>Options</a>
                            </div>
                            <span class="card-title">
                                <img class="responsive-img circle" width="100px"
                                    ,height="100px"
                                    src="https://e7.pngegg.com/pngimages/549/560/png-clipart-computer-icons-login-scalable-graphics-email-accountability-blue-logo-thumbnail.png">
                            </span>
                            
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <h5>Username</h5>
                                </div>
                                {{form.username}}

                                <div class="row">
                                    <h5>Password</h5>
                                </div>
                                {{form.password}}

                            </div>
                            <div class="card-action">
                                <button class="btn waves-effect waves-light"
                                    type="submit" name="login" style="margin-right: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Login
                                    <i class="material-icons right">send</i>
                                </button>
                                <a href="{% url 'signup' %}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Signup</a>
                           
                            </div>
                           
                        </form>
                        {% if error %}
                            <div class="row" style="color: red;"> 
                                *Please Enter Valid Username/Password*
                            </div>    
                            {%endif%}
                        
                    </div>
                </div>
            </div>
        <div class="row">
            {% if messages %}
                {% for message in messages  %}
                    <script>
                        alert('{{message}}')
                    </script>
                {% endfor %}
            {% endif %}
        </div>   
            
        </div>
    </body>
</html>
