<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        
    <title>Question Page</title>
    
</head>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    </script>
<body style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
    </script>
    <nav>
        <div class="nav-wrapper" style="background:black;">
            <a href="#" class="brand-logo center">Polling App</a>
            
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'admin:login' %}">Admin</a></li>
                <!-- <li><a href="{% url 'index' %}">Create Session</a></li> -->
                <!-- <li><a href="{% url 'results' %}">Results</a></li> -->
            </ul>
        </div>
    </nav>


    <div class="container">
        
        <div class="row" style="margin-top: 20px;">
                <div>
                <ul id="slide-out" class="sidenav">
                    <li><p class="subheader center">Options</p></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="{% url 'logout' %}">Logout</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="{% url 'admin:login' %}">Admin</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="{% url 'createsession' %}">Create Session</a></li>
                    <li><div class="divider"></div></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger col l1 m1 s1"><i class="material-icons">menu</i>Options</a>
                </div>
                <div class="col offset-s2 offset-m3 offset-l4">
                <a href="{% url 'createsession' %}" class="waves-effect waves-light btn-small center" style="background-color: red;">Create Your Session</a>
                </div>
            </div>
        </div>
        
        
        
        <div class="row center-align" style="margin-top: 20px;">
            <h4> Enter Session Id : </h4>
            <form action="{% url 'showquestions' %}" method="post">
                {% csrf_token %}
                <input type="text" name="session_id" id="session_id">
                <button class="btn waves-effect waves-light" type="submit" name="action"
                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Join
                <i class="material-icons right">send</i>
                </button>
            </form>
            
        </div>
        <h3 class="center-align">
            Top Questions
        </h3> 
          
        {% for question in question_content %}
            <div class="row">
            <ul class="collection with-header">
            <li class="collection-header"><h4> {{question.content}}</h4></li>
            {% for choice in question.choice_set.all  %}
            
            <li class="collection-item" style="font-weight: bold;">
                <p>
                    <label>
                      <span>{{choice.content}}</span>
                    </label>
                  </p>
                
            </li>
            
            {% endfor %}
            </ul>
            </div>
            
        {% endfor %}        
        
    </div>

    
    
</body>
</html>