<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <title>Questions</title>
</head>
<body style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <nav>
        <div class="nav-wrapper" style="background:black;">
            <a href="#" class="brand-logo">Polling Application</a>
            
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'admin:login' %}">Admin</a></li>
                <li><a href="{% url 'results' %}">Results</a></li>
                
            </ul>
        </div>
    </nav>

    {% for message in messages %}
      <script>
        alert("{{message}}");
      </script>
    {% endfor %}
    

    <div class="container">
        {% for question in session_questions %}
            {% if entered_id == question.session_id %}
            <form action="{% url 'vote' %}" method="post">
                {% csrf_token %}
                <div class="row">
                        <ul class="collection with-header">
                            
                            <li class="collection-header"><h4>{{question.content}}
                                {% for users in question.users_answered.all %}
                                    {% if users.id == request.user.id %}
                                    <span class="new badge" data-badge-caption="Already answered"></span>
                                    {% endif %}
                                {% endfor %}
                            </h4>
                                
                            </li>
                            
                            {% for choice in question.choice_set.all  %}
                                
                                <li class="collection-item">
                                    <p>
                                        <label>
                                          <input name="choice" type="radio" value="{{choice.id}}" />
                                          <span>{{choice.content}}</span>
                                        </label>
                                    </p>
                                </li>
                            {% endfor %}
                            <li class="collection-item">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                                </button>
                            </li>
                        </ul>
                </div>
            </form>
            {% endif %}
        {% endfor %}
    </div>
    
</body>
</html>