<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
    <title>Session</title>
</head>
<script>
    function Copy() {
  // Get the text field
  var copyText = '{{id}}';
  navigator.clipboard.writeText(copyText);

  // Alert the copied text
  alert("Copied the text: " + copyText);
}

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
    
</script>
<body style="background-color: #e0e0e0; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <nav>
        <div class="nav-wrapper" style="background:black;">
            <a href="#" class="brand-logo">Polling Application</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'admin:login' %}">Admin</a></li>
            <!-- <li><a href="{% url 'results' %}">Results</a></li> -->
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h4 class="center-align" style="color: red;">Your Session Id: {{id}} 
                <button class="waves-effect waves-light btn-floating" onclick="Copy()">
                    <i class="material-icons">content_copy</i>
                </button>
            </h4>
        </div>

        <div class="row center-align">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right">add</i>Add Question</a>
        </div>
        <div id="modal1" class="modal">
            <form action="" method="post">
                {% csrf_token %}
            <div class="modal-content">
                    <h4 class="center-align" style="color:red;">Create Question</h4>
                        <br>
                        <h5> Question: </h5>
                        <input type="text" name="entered_question" id="question" placeholder="Enter The Question"> 
                        {% for i in '1234' %}
                        Choice {{i}}:
                        <input type="text" name="choice{{i}}" id={{i}} placeholder="Enter Choice" >
                        <br>  
                        {% endfor %}
                        
                
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
            </form>

        </div>
        
          
        {% for ques in question %}
        {% if id == ques.session_id %}
          
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header"><h4>{{ques.content}}</h4></li>
                {% for choice in ques.choice_set.all %}
                <li class="collection-item">{{choice.content}}</li>
                {% endfor %}
                
            </ul>  
        </div>
        {% endif %}
        {% endfor %}
        
        
    </div>
    
</body>
</html>